*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    
    background-color: rgb(54, 47, 47);
}
img{
    margin-top: 10px;
    width: 100px;
    border-radius: 50%;
    
}
section{
    width: 400px;
    background-color: rgb(39, 30, 30);
    margin-top: 20px;
    margin-bottom: 20px;
}
.identiter{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.identiter p{
    margin-top: 20px;
    color: white;

}
.identiter h2{
    color: rgb(50, 136, 50);
}
.identiter h1{
    color: white;
    margin-top: 20px;
}
.liste{
    margin-top: 10px;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}
.dimention{
    
    color: white;
    text-decoration: none;
    

    

}
li{
    list-style-type: none;
    background-color: rgb(70, 63, 63);
    width: 80%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;

    
}
li:hover{
    background-color: blueviolet;
    transform: scale(1);
}
footer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.mail{
    margin-top: 10px;
}
